body {
	background: url("background.jpg") no-repeat center fixed;
	background-size: cover;
	font-family: "Arimo", sans-serif;
	color: #fff;
	font-size: 20px;
	margin: 0;
}

#topbar {
	width: 1000px;
	margin: 50px auto;
}

#topbar p {
	display: inline-block;
	font-weight: 700;
	padding: 6px 0;
	margin: 0;
}

#nav {
	display: inline-block;
	float: right;
}

#nav a, #nav a:visited {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 6px;
	margin-left: 6px;
}

#nav a:hover {
	background: #fff;
	color: #555;
}

#maintext {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 190px;
	margin: -95px 0 0 -300px;
	text-align: center;
}

h1 {
	font-family: "Oswald", sans-serif;
	font-size: 96px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 26px;
	margin: 18px 0;
}

@media only screen and (max-width: 1080px) {
	#topbar {
		width: 90%;
	}
}

@media only screen and (max-width: 750px) {
	#topbar {
		width: 340px;
		text-align: center;
	}

	#topbar p, #nav {
		display: block;
		float: none;
	}

	#maintext {
		width: 340px;
		margin: -95px 0 0 -170px;
	}

	h1 {
		font-size: 54px;
	}

	h2 {
		font-size: 28px;
	}
}