body {
	background: #fff;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: #444;
	margin: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: #000;
	margin: 60px 0 20px 0;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	margin: 20px 0 60px 0;
}

a, a:visited {
	color: #219bc4;
}

a:hover {
	text-decoration: none;
}

.midsection {
	background: #eee;
	padding: 50px 0;
}

#instructions a, #instructions a:visited {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	width: 200px;
	padding: 12px 0;
	background: #21c483;
	border-radius: 6px;
	transition: background 0.3s;
}

#instructions a:hover {
	background: #1a9966;
}

#statement, #target {
	display: none;
}

h3 {
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	color: #000;
	margin: 0 0 40px 0;
}

#reactions {
	margin-top: 40px;
}

#reactions a, #reactions a:visited {
	background-color: #ffdb48;
	background-size: 50px 50px;
	background-position: center;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin: 0 15px;
	transition: background-color 0.3s;
}

#reactions a:hover {
	background-color: #fac800;
}

#scores {
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
}

#scores li {
	display: inline-block;
	background: #000;
	font-size: 24px;
	color: #fff;
	border-radius: 8px;
	padding: 10px 20px;
	margin-left: none;
}

#footer {
	margin: 60px 0;
}